.heading {
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}
.card > p {
  margin-bottom: 5px;
  font-size: 1.08em;
}

.title {
  font-weight: 500;
  color: var(--third-text-color);
}
.card {
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-shadow: rgb(66, 32, 168, 0.4) 0px 7px 29px 0px;
  box-sizing: border-box;
  padding: 40px 50px;
  margin-bottom: 20px;
}
